# Used to sign/secure Payload — generate a long random string
PAYLOAD_SECRET=your-payload-secret


# Required only for remote D1 migrations via Drizzle Kit CLI
CLOUDFLARE_ACCOUNT_ID=your-account-id
CLOUDFLARE_DATABASE_ID=your-d1-database-id
CLOUDFLARE_D1_TOKEN=your-d1-api-token